html, body {
  height: 100%;
  background-color: #181b1c;
  color: #30bfb8;
}

input {
  background-color: #303030;
  color: #30bfb8;
}

#app {
  font-family: 'Avenir', Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
}

.navbar-inverse {
  background-color: #30bfb8;
}

.auth {
  margin-top: 60px;
  padding-left: 10%;
  padding-right: 10%;
}

.form {
  padding-left: 10%;
  padding-right: 10%;
}

.task-card {
  border: 2px solid #2c3e50;
  margin-top: 10px;
  border-radius: 4px;
}

/*.signout-btn {
  position: absolute;
  text-align: right;
  top: 20px;
  right: 20px;
}*/
